<button nz-button nzType="primary" (click)="openModal()">+新增</button>
<nz-table #basicTable [nzData]="labels">
  <thead>
    <tr>
      <th>標籤ID</th>
      <th>標籤名稱</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let label of basicTable.data;">
      <td>{{label.labelid}}</td>
      <td> <i [class]="label.iconname"></i>
        {{label.specificname}}</td>

      <td>
        <button nz-button nzType="text" (click)="editlabel()" style="color: blue;">編輯</button>
        <button nz-button nzType="text" nz-popconfirm nzPopconfirmTitle="確定要刪除嗎" nzOkText="確定" nzCancelText="取消"
          (nzOnConfirm)="confirm(label.labelid)" (nzOnCancel)="cancel()" nzDanger="">刪除</button>
      </td>
    </tr>
  </tbody>
</nz-table>
<!-- 新增標籤談窗 -->
<nz-modal [(nzVisible)]="showModal" nzTitle="新增標籤" [nzFooter]="modalFooter" (nzOnCancel)="showModal = false">
  <ng-container *nzModalContent>
    <div>
      請選擇標籤:
      <div class="example-input">
        <input placeholder="input here" nz-input [(ngModel)]="inputValue" [nzAutocomplete]="auto"
          (input)="onInput($event)" />
        <nz-autocomplete #auto [compareWith]="compareFun">
          @for (option of filteredOptions; track $index) {
          <nz-auto-option [nzValue]="option" [nzLabel]="option">
            <i [class]="option"></i>
            {{ option }}
          </nz-auto-option>
          }
        </nz-autocomplete>
      </div>
      <div>
        輸入標籤名稱：
        <input nz-input [(ngModel)]="newLabelName" placeholder="請輸入內容" nzSize="default" />
      </div>

    </div>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="showModal = false">取消</button>


    <button nz-button nzType="primary" (click)="create()">建立</button>
  </ng-template>
</nz-modal>