.logo {
    width: 120px;
    height: 31px;
    margin: 16px 30px 16px 0;
    float: left;
  }

  .header-menu {
    line-height: 64px;
  }

  .sider-menu {
    height: 100%;
    border-right: 0;
  }

  .inner-layout {
    padding: 0 24px 24px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }
  .product_pic{
    width: 300px;
    height: 200px;
  }

  /* 彈窗表單欄位垂直顯示.component.css */
.vertical-form .ant-form-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px; /* 調整間距 */
  }
  .item{
    display: flex;
  }
  .item_title{
    margin-right: 10px;
  }