<nz-layout>
  <nz-header>
    <div class="navname">
      GoGoTrip
    </div>
    <div class="logout-container">
      <button nz-button nzType="default" (click)="logout()">登出</button>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="product" nzTitle="商品管理">
          <ul>
            <li nz-menu-item (click)="selectNav('商品列表')">商品列表</li>
            <li nz-menu-item (click)="selectNav('商品標籤')">商品標籤</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="預約管理" nzIcon="laptop">
          <ul>
            <li nz-menu-item (click)="selectNav('預約列表')">預約列表</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="玩家管理" nzIcon="user">
          <ul>
            <li nz-menu-item (click)="selectNav('玩家查詢')">玩家查詢</li>

          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content>
        <div class="inner-content">
          <!-- 根據選中的 nav 動態顯示內容 -->
          <div *ngIf="selectedNav === '商品列表'">
            <app-productlist></app-productlist>
          </div>
          <div *ngIf="selectedNav === '商品標籤'">
            <app-labelmanage></app-labelmanage>
          </div>
          <div *ngIf="selectedNav === '預約列表'">
            <h2>Content for Nav 3</h2>
            <p>This is the content for nav3.</p>
          </div>
          <div *ngIf="selectedNav === '玩家查詢'">
            <app-usermanage></app-usermanage>
          </div>

        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>