<nz-layout>
    <nz-header>
      <div class="logo">
           <svg width="50" height="50" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="40" fill="none" stroke="#fe4332" stroke-width="5" />
            <path d="M 35 65 L 50 45 L 65 65" fill="none" stroke="#fe4332" stroke-width="5" />
            <circle cx="50" cy="70" r="5" fill="#fe4332" />
            <circle cx="45" cy="60" r="3" fill="#fe4332" />
            <circle cx="55" cy="60" r="3" fill="#fe4332" />
            <circle cx="43" cy="65" r="3" fill="#fe4332" />
            <circle cx="57" cy="65" r="3" fill="#fe4332" />
            <path d="M 70 30 L 90 10" stroke="#fe4332" stroke-width="5" />
          </svg>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item [nzSelected]="selectedNav === 'nav1'" (click)="selectNav('nav1')">nav 1</li>
        <li nz-menu-item [nzSelected]="selectedNav === 'nav2'" (click)="selectNav('nav2')">nav 2</li>
        <li nz-menu-item [nzSelected]="selectedNav === 'nav3'" (click)="selectNav('nav3')">nav 3</li>
      </ul>
    </nz-header>
    <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li nz-submenu nzOpen nzIcon="user" nzTitle="subnav 1">
            <ul>
              <li nz-menu-item nzSelected>option1</li>
              <li nz-menu-item>option2</li>
              <li nz-menu-item>option3</li>
              <li nz-menu-item>option4</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="subnav 2" nzIcon="laptop">
            <ul>
              <li nz-menu-item>hello man</li>
              <li nz-menu-item>option6</li>
              <li nz-menu-item>option7</li>
              <li nz-menu-item>option8</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="subnav 3" nzIcon="notification">
            <ul>
              <li nz-menu-item>option9</li>
              <li nz-menu-item>option10</li>
              <li nz-menu-item>option11</li>
              <li nz-menu-item>option12</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-layout class="inner-layout">
        <nz-breadcrumb>
          <nz-breadcrumb-item>Home</nz-breadcrumb-item>
          <nz-breadcrumb-item>List</nz-breadcrumb-item>
          <nz-breadcrumb-item>App</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-content >
                <div class="inner-content">
                <!-- 根據選中的 nav 動態顯示內容 -->
                    <div *ngIf="selectedNav === 'nav1'">
                        <div class="productbox">
                            <div class="product_pic">
                                <img
                                [nzDisablePreview]="true"
                                nz-image
                                width="200px"
                                height="200px"
                                src="/src/assets/bgpic.jpg"
                                alt=""
                              />
                            </div>
                            <div class="productID">
                                hweiuhoewhoewhiowe
                            </div>
                            <div class="product_name">
                                ewhiewhoew
                            </div>
                            <div class="product_price">
                                599
                            </div>
                            <div class="product_amount">
                                30
                            </div>
                        </div>
                    </div>
                   
                    <div *ngIf="selectedNav === 'nav2'">
                    <h2>Content for Nav 2</h2>
                    <p>This is the content for nav2.</p>
                    </div>
                    <div *ngIf="selectedNav === 'nav3'">
                    <h2>Content for Nav 3</h2>
                    <p>This is the content for nav3.</p>
                    </div>
                </div>
        </nz-content>
      </nz-layout>
    </nz-layout>
</nz-layout>
